{% extends "bootstrap/base.html" %}
{% block title %}Admin{% endblock %}

{% block styles %}
    {{ super() }}
    <style>
        body {
            padding-top: 70px;
        }
    </style>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='theme.bootstrap.css') }}">
    <!-- tablesorter plugin -->
    <script src="{{ url_for('static', filename='jquery.tablesorter.min.js') }}"></script>
    <!-- tablesorter widget file - loaded after the plugin -->
    <script src="{{ url_for('static', filename='jquery.tablesorter.widgets.min.js') }}"></script>
    <script>
        $(function () {
            $.tablesorter.addParser({
                id: 'sek',
                is: function (s, table, cell) {
                    return false;
                },
                format: function (s, table, cell, cellIndex) {
                    return s.toLowerCase()
                            .replace(/ /, '')
                            .replace(/,/, '')
                            .replace(/kr/, '');
                },
                type: 'numeric'
            });
            $.extend($.tablesorter.themes.bootstrap, {
                table: 'table table-bordered table-condensed',
                header: 'bootstrap-header',
                sortNone: 'bootstrap-icon-unsorted',
                sortAsc: 'icon-chevron-up glyphicon glyphicon-chevron-up',
                sortDesc: 'icon-chevron-down glyphicon glyphicon-chevron-down'
            });
            $("table").tablesorter({
                theme: 'bootstrap',
                widthFixed: true,
                headerTemplate: '{content} {icon}',
                widgets: [ "uitheme", "filter", "zebra" ],
                headers: { 1: { sorter: 'sek' } },
                widgetOptions: {
                    zebra: ["even", "odd"]
                }
            });
        });
    </script>
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Prisfil admin</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
            <form class="navbar-form navbar-left" role="search">
                <span>prisfil från: {{ prisfil_date.strftime('%b %d') }} ({{ date_difference }} gammal)</span>
                <button type="submit" class="btn btn-default">uppdatera</button>
            </form>
            </ul>
        </div>
    <!-- /.navbar-collapse -->
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <table class="tablesorter">
                    <thead>
                    <tr>
                        <th>Produkt</th>
                        <th>Pris</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entry in entries %}
                        <tr>
                            <td>{{ entry.0 }}</td>
                            <td style="text-align: right;">{{ format_price(entry.1) }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
