{% extends "bootstrap/base.html" %}
{% block title %}Admin{% endblock %}

{% block styles %}
    {{ super() }}
    <style>
        body {
            padding-top: 70px;
        }
    </style>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='theme.bootstrap.css') }}">
    <!-- tablesorter plugin -->
    <script src="{{ url_for('static', filename='jquery.tablesorter.min.js') }}"></script>
    <!-- tablesorter widget file - loaded after the plugin -->
    <script src="{{ url_for('static', filename='jquery.tablesorter.widgets.min.js') }}"></script>
    <script>
        $(function () {
            $.tablesorter.addParser({
                id: 'sek',
                is: function (s, table, cell) {
                    return false;
                },
                format: function (s, table, cell, cellIndex) {
                    return s.toLowerCase()
                            .replace(/ /, '')
                            .replace(/,/, '')
                            .replace(/kr/, '');
                },
                type: 'numeric'
            });
            $.extend($.tablesorter.themes.bootstrap, {
                table: 'table table-bordered table-condensed table-striped',
                header: 'bootstrap-header',
                sortNone: 'bootstrap-icon-unsorted',
                sortAsc: 'icon-chevron-up glyphicon glyphicon-chevron-up',
                sortDesc: 'icon-chevron-down glyphicon glyphicon-chevron-down'
            });
            $("table").tablesorter({
                theme: 'bootstrap',
                widthFixed: true,
                headerTemplate: '{content} {icon}',
                widgets: [ "uitheme", "filter", "zebra" ],
                headers: { 1: { sorter: 'sek' } },
                widgetOptions: {
                    zebra: ["even", "odd"]
                }
            });

        });
    </script>
{% endblock %}

{% block navbar %}
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Prisfil Admin</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p>Prisfil last updated: {{ prisfil_date }}</p>
                <table class="tablesorter">
                    <thead>
                    <tr>
                        <th>Produkt</th>
                        <th>Pris</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entry in entries %}
                        <tr>
                            <td>{{ entry.0 }}</td>
                            <td style="text-align: right;">{{ entry.1|format_currency }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
